.categories {
    padding: 8rem 2rem;

    &__left {
        width: 75%;
        height: 100%;
        margin-right: 2rem;

        &--topRow {
            display: flex;
            justify-content: space-between;
        }

        &--bottomRow {
            display: flex;
            padding: 1rem 1.2rem;
        }
    }

    &__right {
        width: 25%;
        height: 100%;
    }
}

.row {
   display: flex; 
}

.category {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-bottom: 1.2rem;

    &__row {
        width: 30%;
    }

    &__col {
        width: 100%;
        padding-bottom: 1rem;
    }

    &__img--container {
        width: 100%;
        height: 100&;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: black;
    }

    &__img {
        width: 100%;
        height: 100%;
        opacity: .3;
    }

    &__text {
        z-index: 999;
        position: relative;
        padding: .5rem;
        text-align: center;
    }

    &__title {
        font-size: 1.7rem;

        &--orange {
            color: orange;
        }

        &--gray {
            color: gray;
        }
    }

    &__description {
        color: white;
    }

    &__rating {
        margin-bottom: 2rem;
    }

    &__icon {
        color: orange;
        font-size: 1.2rem;
    }

    &__btn {
        text-decoration: none;
        color: black;
        background-color: orange;
        padding: .6rem 1rem;
    }
}

.bottomRow--img {
    width: 25%;
    margin-right: 2rem;
    overflow: hidden;
}

.category__content--text {
    width: 60%;
}

.noOpcaity {
    opacity: 0;
}

