.header {
    background-image: linear-gradient(rgba(185, 0, 0, 0.712), rgba(173, 10, 10, 0.692)), url("./../images/clothes.jpg");
    height: 100vh;
    background-attachment: fixed; 
    background-size: cover;
 
    &__hero-content {
        width: 50%;
        text-align: center;
        padding: 1rem 0;
        margin: 0 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-size: 3rem;
        color: white;

        @include phone {
            margin: 6rem 0 0 0;
            font-size: 2rem;
        }
    }

    &__desc {
        font-size: 1.3rem;
        color: white;
        margin-bottom: 2.2rem;

        @include phone {
            font-size: 1rem;
        }
    }
}