/* The General Style Starts Here */
body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: center;
}

.space {
    padding: 6rem 2rem;
}

/* The Header Style Starts Here */
.header {
    background-image: linear-gradient(rgba(255, 0, 0, 0.377), rgba(0, 0, 0, 0.041)), url(./image/bird-s-eye-view-photography-of-city-2960007.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

/* The Navigation Style Starts Here*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.list {
    display: flex;
    list-style: none;
}

.item {
    margin-left: 2.5rem;
    color: white;
    font-size: 1.1rem;
    transition: all .5s;
}

.item:hover {
    border: 1px solid #fff;
}
/* The Navigation Style Ends Here*/

.header-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.445);
    width: 40%;
    text-align: center;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.header-title {
    font-size: 3rem;
    color: white;
}

.header-desc {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.header-btn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.397), rgba(255, 0, 0, 0.486));
    border-radius: 100px;
    padding: .7rem 1.2rem;
    margin-bottom: 1rem;
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}

.header-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(255, 0, 0, 0.671));
}
/* The Header Style Ends Here*/
.services {
    padding: 8rem 3rem;
    background-color: rgb(46, 5, 5);
}

.services-content {
    display: flex;
    justify-content: center;
}

.service {
    margin: 0 1.3rem;
    padding: 2rem 1rem;
    background-color: rgba(2555, 255, 255, 0.548);
    clip-path: polygon(0 15% , 100% 0 , 100% 90% , 0 100% );
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.63);
}

.service__title {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.service__desc {
    font-size: 1.1rem;
    line-height: 1.4;
}

/* The Course Section Starts Here*/
.courses {
    padding: 4rem 6rem;
}

.courses-content {
    display: flex;
}

.course {
    width: 20%;
    box-shadow: 2px 2px 4px rgb(85, 85, 85, 0.39);
    margin: 0.5rem;
    transition: all 1.5s;
}

.course:hover {
    box-shadow: 4px 4px 8px rgb(85, 85, 85, 0.39);
}

.course__image--content {
    background-color: black;
}

.course__img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: .7;
    transition: all 3s;
}

.course:hover .course__img {
    opacity: 3;
}

.course__text {
    padding: .8rem 1rem;
}

.course__title {
    font-size: 1rem;
    color: #222;
    margin-top: 0;
}

.course__author {
    font-size: .8rem;

}

.course__price {
    text-align: right;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

/* The About Starts Here*/
.about {
    padding: 3rem 4rem;
    background-color: #999;
}

.about-content {
    display: flex;
    justify-content: center;
}

.about__text {
    width: 50%;
    box-shadow: 6px 6px 8px rgb(0, 0, 0, 0.514);
    padding: 0 1.3rem;
    z-index: 10000;
    background-color: white;
}

.about__title {
    font-size: 2rem;
    color: #222;
}

.about__desc {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #999;
}

.about__img--content {
    width: 35%;
    margin-left: -5rem;
    z-index: 10;
    transform: rotate(10deg);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.493);
}

.about__img {
    width: 100%;
    height: 100%;
}

/* The Users Section Starts Here*/
.users {
    padding: 8rem 4rem;
    background-color: rgb(199, 199, 199);
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 6rem;
}

.users-content {
    display: flex;
    justify-content: center;
}

.user {
    text-align: center;
    width: 30%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    background-color: white;
    margin: 0 1.3rem;
}

.user__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
    margin-top: -3rem;
}

.user__title {
    font-size: 1.5rem;
    color: #222;
}

.user__job {
    font-size: 1.1rem;
}

.user__link {
    padding: .7rem 1rem;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    display: inline-block;
    margin-bottom: 1.3rem;
    transition: all .5s;
}

.user__link:hover {
    background-color: black;
}

/* The Main Finishes Here*/
.footer {
    background-color: rgb(192, 192, 192);
    text-align: center;
    padding: 2rem 0;
}

.footer-text {
    font-size: 1.3rem;
}

/* The Media Queries Start Here */
@media only screen and (max-width: 1000px) {
    .services-content {
        flex-direction: column;
        align-items: center;
    }
    
    .service {
        width: 60%;
    }
}

@media only screen and (max-width: 850px) {
    .users-content {
        flex-direction: column;
        align-items: center;
    }
    
    .user {
        width: 50%;
        margin: 3.5rem 0;
    }

    .user__img {
        width: 4rem;
        height: 4rem;
        margin-top: -2rem;
    }

    .courses-content {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .course {
        width: 70% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    } 
    
    .about__text {
        width: 80%;
    }

    
    .about__img--content {
         width: 80%;
         margin-left: 0;
         transform: rotate(0);
         margin-top: 3rem;
    }

    .about__img {
        width: 100%;
        height: 100%;
    }

    .courses-content {
        flex-wrap: wrap;
    }
    
    .course {
        width: 30%;
        margin: 1rem .5rem;
    }
}


