body {
    margin: 0;
}

.nav {
    display: flex;
    background-color: #222;
    justify-content: space-around;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin: 0 2rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}