.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}

.search__form {

}

.search__input {
    box-shadow: 2px 2px 4px #000;
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: .8rem .5rem;
}